{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}

<!-- Style for the login form -->
<style>
    /* Custom styling */
    body {
        background-color: #f7f7f7;
    }
    .login-container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .login-card {
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        background-color: #343a40;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    .btn-primary {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
    }
    .form-control {
        height: 50px;
        border-radius: 5px;
    }
    .signup-link {
        text-align: center;
    }
    .signup-link a {
        color: #007bff;
        text-decoration: none;
    }
    .signup-link a:hover {
        text-decoration: underline;
    }
</style>

<script src="https://accounts.google.com/gsi/client" async></script>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 500px;">
        <h5 class="card-header text-center">Login</h5>
        <div class="card-body text-center">
            <form method="post">
                {% csrf_token %}
                {{ form |crispy }}
                <button type="submit" class="btn btn-large btn-primary mt-4">Log In</button>
                <hr>
                Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
                <div class="mt-4 d-flex justify-content-center">
                    <div id="g_id_onload"
                        data-client_id="460246555632-cll3rpols67n6ge7fc8t2sjlnc2rvnlj.apps.googleusercontent.com"
                        data-context="signin"
                        data-ux_mode="popup"
                        data-login_uri="http://localhost:8000/auth-receiver"
                        data-auto_prompt="false">
                    </div>
                    <div class="g_id_signin"
                        data-type="standard"
                        data-shape="pill"
                        data-theme="outline"
                        data-text="signin_with"
                        data-size="large"
                        data-logo_alignment="left">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}